/* SIDEBAR */
.sidebar {
    -fx-background-color: linear-gradient(to bottom, #1b70d2, #14aab3);
}

/* TOGGLE BUTTON */
.toggle-btn {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
}

/* MENU */
.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 20;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
}

.menu-item:hover {
    -fx-background-color: rgba(255,255,255,0.25);
}

/* TOPBAR */
.topbar-transparent {
    -fx-background-color: transparent; /* Xóa màu xanh */
}

.topbar-text-dark {
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
}
.logout-btn {
    -fx-background-color: #1a84c6;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
    -fx-cursor: hand;
}

/* BACKGROUND */
.main-bg {
    -fx-background-color: #f5f7fb;
}

/* HEADER */
.header-card {
    -fx-background-color: linear-gradient(to right, #1b70d2, #14aab3);
    -fx-background-radius: 20;
}

.header-icon {
    -fx-font-size: 40px;
    -fx-text-fill: white;
}

.header-title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.header-sub {
    -fx-text-fill: white;
}

/* CARD */
.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10,0,0,4);
}

/* TEXT */
.card-number {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.card-money {
    -fx-font-size: 22px;
    -fx-text-fill: green;
}

/* EMPTY BOX */
.empty-box {
    -fx-background-color: #f1f5f9;
    -fx-background-radius: 15;
}

.empty-icon {
    -fx-font-size: 40px;
}

/* SECTION */
.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}